* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CRFont";
  src: url("./CRFont.ttf");
}

h1 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

h4 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

p {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  background-image: url(grass-texture.jpeg);
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --dark-color: #4d2626;
  --light-color: #794838;
  --dark-background: #323131;
  --light-background: #565555;
}

.content {
  background-color: #e6e2ea;
}

.board {
  border: 8px solid var(--dark-background);
  box-shadow: 0 0 4px var(--dark-background);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-label {
  position: absolute;
  font-size: 10px;
  left: 3px;
  top: 3px;
}

.square.even {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.square.odd {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.piece {
  width: 8vmin;
  object-fit: contain;
}

.grabbable:hover {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.display-move {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}

.display-move:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.35);
}

.display-capture {
  box-shadow: inset 0 0 100px 100px rgba(233, 21, 21, 0.25);
}

.display-capture:hover {
  box-shadow: inset 0 0 100px 100px rgba(233, 21, 21, 0.35);
}

progress::-webkit-progress-value {
  background-image: linear-gradient(120deg, #8d34ae 0%, #eab3ee 80%);
}

progress::-moz-progress-bar {
  background-image: linear-gradient(120deg, #8d34ae 0%, #eab3ee 80%);
}

.elixir-bar {
  border: 4px solid#323131;
  height: 3rem;
  width: 100%;
}

.elixir-hr {
  position: absolute;
  top: 0.5rem;
  height: 3rem;
  border: 2px solid var(--dark-background);
  border-radius: 5px;
}

.elixir-label {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  text-align: center;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.elixir-texture {
  position: absolute;
  left: -1rem;
  top: -0.6rem;
  object-fit: contain;
  height: 4.5rem;
}

@keyframes shake {
  0% {
    transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  10% {
    transform: translate(-0.75px, -0.75px) rotate(-1deg);
  }
  20% {
    transform: translate(-0.75px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  40% {
    transform: translate(0.75px, -0.75px) rotate(1deg);
  }
  50% {
    transform: translate(-0.75px, 0.75px) rotate(-1deg);
  }
  60% {
    transform: translate(-0.75px, 0.75px) rotate(0deg);
  }
  70% {
    transform: translate(0.75px, 0.75px) rotate(-1deg);
  }
  80% {
    transform: translate(-0.75px, -0.75px) rotate(1deg);
  }
  90% {
    transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  100% {
    transform: translate(0.75px, -0.75px) rotate(-1deg);
  }
}

.elixir-cost {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 10px;
  flex-direction: row;
}

.elixir-cost > * {
  margin-left: 0.1rem;
}

.error {
  color: #ff3333;
}
