* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CRFont";
  src: url("./CRFont.ttf");
}

h1 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

h4 {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

p {
  font-family: "CRFont", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  background-image: url(assets/grass-texture.jpeg);
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --dark-color: #4d2626;
  --light-color: #794838;
  --dark-background: #323131;
  --light-background: #565555;
}

.content {
  background-color: #e6e2ea;
  padding: 0.25rem;
}

#main {
  width: 90vmin;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.board {
  width: calc(90vmin - 10rem);
  height: calc(90vmin - 10rem);
  border: 8px solid var(--dark-background);
  box-shadow: 0 0 4px var(--dark-background);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-label {
  position: absolute;
  font-size: 10px;
  left: 3px;
  top: 3px;
}

.square.even {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.square.odd {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.piece {
  width: 8vmin;
  object-fit: contain;
}

.grabbable:hover {
  cursor: grab;
}

.grabbable:active {
  cursor: grabbing;
}

.display-move {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}

.display-move:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.35);
}

.display-capture {
  box-shadow: inset 0 0 100px 100px rgba(233, 21, 21, 0.25);
}

.display-capture:hover {
  box-shadow: inset 0 0 100px 100px rgba(233, 21, 21, 0.35);
}

progress::-webkit-progress-value {
  background-image: linear-gradient(120deg, #8d34ae 0%, #eab3ee 80%);
}

progress::-moz-progress-bar {
  background-image: linear-gradient(120deg, #8d34ae 0%, #eab3ee 80%);
}

.elixir-bar {
  border: 4px solid#323131;
  height: 3rem;
  width: 100%;
}

.elixir-hr {
  position: absolute;
  top: 0.5rem;
  height: 3rem;
  border: 2px solid var(--dark-background);
  border-radius: 5px;
}

.elixir-label {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  text-align: center;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.elixir-texture {
  position: absolute;
  left: -1rem;
  top: -0.6rem;
  object-fit: contain;
  height: 4.5rem;
}

@keyframes shake {
  0% {
    transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  10% {
    transform: translate(-0.75px, -0.75px) rotate(-1deg);
  }
  20% {
    transform: translate(-0.75px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  40% {
    transform: translate(0.75px, -0.75px) rotate(1deg);
  }
  50% {
    transform: translate(-0.75px, 0.75px) rotate(-1deg);
  }
  60% {
    transform: translate(-0.75px, 0.75px) rotate(0deg);
  }
  70% {
    transform: translate(0.75px, 0.75px) rotate(-1deg);
  }
  80% {
    transform: translate(-0.75px, -0.75px) rotate(1deg);
  }
  90% {
    transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  100% {
    transform: translate(0.75px, -0.75px) rotate(-1deg);
  }
}

.elixir-cost {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 10px;
  flex-direction: row;
}

.elixir-cost > * {
  margin-left: 0.1rem;
}

.error {
  color: #ff3333;
}

.alert {
  position: absolute;
  padding: 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  top: 1rem;
  width: 80vmin;
  z-index: 2;
}

.alert.success {
  background-color: #04aa6d;
}
.alert.info {
  background-color: #2196f3;
}

.clock {
  background-color: rgba(72, 72, 72, 0.8);
  border-radius: 10px;
  border: 2px solid black;
  padding: 0.5rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

#gameplay {
}

#non-gameplay {
  margin-left: 3px;
}

#chatlog {
  height: 50vmin;
  background-color: #39527b;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 8px);
}

.chat1 {
  background-color: #404040;
  color: #bfbfbf;
  width: calc(100% - 8px);
  margin: 4px 2px;
  padding: 3px;
  border-radius: 5px;
  font-size: 1rem;
  overflow-wrap: break-word;
  word-break: break-all;
}

.chat-1 {
  background-color: #557b83;
  color: white;
  width: calc(100% - 8px);
  margin: 4px 2px;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-style: italic;
  overflow-wrap: break-word;
  word-break: break-all;
}

.chat0 {
  background-color: #bfbfbf;
  color: #404040;
  width: calc(100% - 8px);
  margin: 4px 2px;
  padding: 3px;
  border-radius: 5px;
  font-size: 1rem;
  overflow-wrap: break-word;
  word-break: break-all;
}

.chat0 > img {
  object-fit: contain;
  width: 100%;
}

.chat1 > img {
  object-fit: contain;
  width: 100%;
}

#chat-input {
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  color: black;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.classic-button {
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  color: black;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.classic-button:hover {
  top: 1px;
}

#controls {
  margin-top: auto;
}

#controls > * {
  margin-top: 3px;
}

#roomlist {
  margin: 4px 2px;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 8px);
  max-height: 5rem;
  overflow-y: auto;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  word-break: break-all;
}

.room-link:nth-child(odd) {
  background-color: #404040;
  color: #bfbfbf;
}

.room-link:nth-child(even) {
  background-color: #bfbfbf;
  color: #404040;
}
